<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; {{ .Site.Title }}</li>
        <li>{{ i18n "COPYRIGHT_MESSAGE_1" . | markdownify }}</li>
        <li>{{ i18n "COPYRIGHT_MESSAGE_2" . | markdownify }}</li>
        <li>{{ i18n "IMPRESSUM" . | markdownify }}</li>
    </ul>
</div>
