div.timetable {
	overflow-x: hidden;
}

div.timetable>table>tbody>tr>td:not(:first-of-type) {
	min-width: 8rem;
	padding  : 0.25rem 0.25rem;
}

div#main section.post p:empty,
div.timetable:first-child,
div.bigger:first-child {
	display: none;
}

.presence>summary {
	font-size  : larger;
	font-weight: bold;
	cursor     : pointer;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

iframe.video {
	margin   : 0 auto;
	display  : block;
	max-width: 100%;
}

@media screen and (max-width: 480px) {
	iframe.video {
		height   : 300px;
	}
}


div.bigger * {
	font-size     : large;
	letter-spacing: 0.1rem;
	text-indent   : 2em;
}
@media screen and (max-width: 480px) {
	div.bigger * {
		font-size     : medium;
		text-indent   : 0;
		letter-spacing: 0;
	}
}

div#main section.posts article p {
	text-align   : center;
	margin-bottom: 1rem;
	margin-top   : -1rem;
}

div#main article.post.featured {
	padding-top   : 4rem;
	padding-bottom: 2rem;
}

div#main section.post h3 {
	margin-bottom: 0.5rem;
}

div#main section.post header.major {
	margin-bottom: 1rem;
}

div#main section.post {
	padding-top: 4rem;
}

div#main section.post hr {
	margin: 1rem 0;
}

div#main section.posts article {
	padding-top   : 2rem;
	padding-bottom: 2rem;
}

div#main article.post.featured a.image.main {
	margin: 3rem 0;
}

div#main section.post details.presence ul li ul {
	margin-bottom: 0.5rem;
}