<!-- Posts -->
{{ $data := .siteData }}
<section class="posts">
    {{ range .posts.Pages }}
    {{ if not (eq .Type "expired") }}
    <article>
        <header>
            {{ if not .Date.IsZero }}
            <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
            {{ end }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        {{ if .Params.image }}
        <a href="{{ .Permalink }}" class="image fit"><img src="{{ .Params.image | relURL }}" alt=""/></a>
        {{ end }}
        <p>{{ .Description }}</p>
        <ul class="actions">
            <li><a href="{{ .Permalink }}" class="button">{{ $data.post.linktext }}</a></li>
        </ul>
    </article>
    {{ end }}
    {{ end }}
</section>

