
{{ $from := 0 }}
{{ $to := 0 }}
{{ $index := 0 }}
{{ $event := .event }}



{{ range $time := .times }}
    {{ if eq (index $event "from") $time }}
        {{ $from = $index }}
    {{ end }}
    {{ if eq (index $event "to") $time }}
        {{ $to = $index }}
    {{ end }}
    {{ $index = add $index 1 }}
{{ end }}

{{ $duration := sub $to $from }}

<style>
    .event {
        background-color: lightblue;
        border: 1px solid white;
        width: auto;
    }
</style>



{{ if eq (index $event "description") "" }}
    <td rowspan="{{ $duration }}" day="{{ .day }}"></td>
{{ else }}
    {{ $to = (index .event "to") }}
    {{ if eq $to "00:00" }}
        {{ $to = "Open End" }}
    {{ end }}
    <td rowspan="{{ $duration }}" day="{{ .day }}" class="event">
        <div style="font-size: 16px; color: slategray;">{{ index .event "from" }} - {{ $to }}</div>
        <div>{{ index .event "description" | markdownify }}</div>
    </td>
{{ end }}