{{ if .Params.schedule }}
    {{ $scratch := newScratch }}
    {{ $data := getJSON .Params.schedule }}
    {{ $times := getJSON "data/times.json" }}

    <style>
        #schedule tr,
        #schedule td {
            font-size: medium;
            padding: 0 0 0.3em 0.5em;
            line-height: 1.2;
        }

        #schedule .time {
            font-size: 16px;
            width: 6em;
        }

        #timetable-navigation button {
            font-size: 24px;
        }
    </style>


    <div id="timetable-navigation" style="width: 100%; text-align: center; margin-bottom: 5px">
        <button style="width: 45%" onclick="minusDay()"><</button><button style="width: 45%" onclick="plusDay()">></button>
    </div>

    <div style="overflow-x: hidden;" id="timetable">
        <table id="schedule">
            <thead>
                <tr>
                    <th>Uhrzeit</th>
                    {{ range $elem := $data }}
                        {{ $day := index $elem "day" }}
                        {{ $date := index $elem "date" }}
                        {{ $description := index $elem "description" }}
                        <th day="{{ $day }}">{{ $day }}<br>{{ $date }}<br>{{ $description }}</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody>
                {{ range $time := $times }}
                    <tr>
                        {{ if eq $time "00:00" }}
                            <td class="time" time="00:00">Open End</td>
                        {{ else }}
                            <td class="time" time="{{ $time }}">{{ $time }}</td>
                        {{ end }}
                        {{ range $elem := $data }}
                            {{ range $event := index $elem "schedule" }}
                                {{ if eq (index $event "from") $time }}
                                    {{ partial "eventcell" (dict "event" $event "times" $times "day" (index $elem "day")) }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <script type="application/javascript" src="/scripts/timetable.js" async></script>
{{ end }}